skills {
    height: 100vh;
    width: 100%;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    scroll-snap-align: center;

    position: relative;
    padding: 2rem 0;
}

.projects__card-skillcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
